/* Main configuration */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 10px 0;
  background: url("../bg.jpg");
  background-size: cover;
  color: white;
  font-family: "Roboto";
  text-shadow: 3px 3px black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background: rgba(0, 0, 0, 0.6);
  color: transparent;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

/* Banner/meni stil */

.banner-meni-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0 25px;
}

.banner-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 35%;
  margin-bottom: 15px;
}

.banner-wrap > h1 {
  color: #0067ac;
  align-self: center;
}

.banner-meni-wrap ul {
  list-style: none;
  margin: 0 auto;
}

.banner-meni-wrap ul li {
  display: inline;
}

.banner-meni-wrap ul li a {
  font-size: 20px;
  text-decoration: none;
  margin-right: 15px;
  color: white;
  font-weight: bold;
}

.banner-meni-wrap ul li a:hover {
  color: #0067ac;
}

/* Glavni content stil  */

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.laboratorij-wrap {
  width: 50%;
  margin: 20px auto;
  /* border: 2px solid white; */
  background: rgba(44, 134, 194, 0.3);
  margin-bottom: 10px;
}

.oprema {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  color: white;
}

.oprema p {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}

.oprema ul {
  list-style: none;
  padding: 0;
}

.oprema ul li {
  margin: 10px;
}

.a {
  background: red;
}

.godine {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.prva-godina {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 10px;
  height: 100%;
}

.druga-godina {
  padding: 10px;
  height: 100%;
}

.godina {
  height: fit-content;
  font-size: 18px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-right: 2px solid white; */
}

.godina > p {
  margin: 0;
}

.tekst-opis {
  border: 2px solid white;
  border-bottom: none;
  border-right: none;
  border-left: none;
  text-align: center;
  color: white;
  display: flex;
}

.tekst-opis p {
  align-self: center;
}

/* Footer stil */

footer {
  align-self: center;
}

footer a {
  color: #0067ac;
}
